<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
		<div class="row">
			<div class="col-md-4 col-md-push-4 col-sm-12" style="padding:10px">
				<center><a class="wow fadeInUp" href="http://www.facebook.com/TheDrumHut/"><img src="{{assets}}/img/ico/facebook5.png"></img></a></center>
			</div>
			<div class="col-md-4 col-md-push-4 col-sm-12" style="padding:10px">
				<center><p class="wow fadeInUp">All photography by <a href="http://www.frphoto.co.uk">Freelance Photographic</a></p></center>
			</div>
			<div class="col-md-4 col-md-pull-8 col-sm-12" style="padding:10px">
				<center><p class="copyright wow fadeInUp">&copy; The Drum Hut 2015.</p></center>
			</div>
		</div>
	</div>
</footer>