<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
        <p class="pull-left copyright wow fadeInUp">&copy; The Drumhut 2015.</p>
        <p class="pull-right wow fadeInUp">All photography by <a href="http://www.frphoto.co.uk">Freelance Photographic</a></p>
    </div>
</footer>