---
component: navbar
---
<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
		<div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">
					<img id="navlogo" src="{{assets}}/img/navlogo-blue.png" alt="microstore"  height="70">
				</a>

			</div>		
			<div class="collapse navbar-collapse" style="max-height:40px">
				<ul id="navigation" class="nav navbar-nav navbar-right text-center">

					{{#each navigation }}
					{{#unless hide}}
					<li>
						<a href="{{url}}" style="padding:5px 15px;">{{name}}</a></li>
					{{/unless}}
					{{/each}}
					</li>				
					{{!--
					<!--
					<li class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">UK</button>
						<ul class="dropdown-menu">
						<li><a href="#">English</a></li>
						<li><a href="#">Deutsch</a></li>
						<li><a href="#">France</a></li>
						<li><a href="#">Slovak</a></li>
					  </ul>
					</li>
					-->
					--}}
				</ul>
			</div>	
		</div>
		<div class="snipcart-summary text-right snipcart-summary-mobile">		
			Items: <span class="snipcart-total-items"></span>
			Total: <span class="snipcart-total-price"></span>
				<div><a href="#" class="snipcart-user-profile"> <span class="snipcart-user-email"><b>LOGIN</b></span></a><span class="snipcart-user-profile"> | </span><a href="#" class="snipcart-checkout"><b>CART</b></a><span class="snipcart-user-logout"> | </span><a href="#" class="snipcart-user-logout"><b>LOG OUT</b></a>
				</div>
		</div>

    </div>
</div>