<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
        <p class="pull-left copyright wow fadeInUp">&copy; Drumhut 2015.</p>
        <p class="pull-right wow fadeInUp">Yada yada some right aligned yada</p>
    </div>
</footer>