<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
		<div class="row text-center">
			<div class="col-md-4 col-sm-12">
				<p class="copyright wow fadeInUp">&copy; The Drum Hut 2015.</p>
			</div>		
			<div class="col-md-4 col-sm-12">
				<a class="wow fadeInUp" href="../#about" style="color:#ffffff"><p class="wow fadeInUp">About The Drum Hut</p></a>
			</div>
			<div class="col-md-4 col-sm-12">
				<a class="wow fadeInUp" href="http://www.facebook.com/TheDrumHut/"><img src="{{assets}}/img/ico/facebook5.png"></img></a>
			</div>
			
		</div>
	</div>
</footer>