<!DOCTYPE html>
<html ng-app="storeApp">
  <head>
    
  {{> global-head }}

  </head>

  <body id="home">

    {{> global-header }}

    {{> body }}

    {{> global-footer }}

    {{> global-scripts }}

  </body>
</html>

