---

title: Accessories
heading: ACCESSORIES

layout: products.hbs

showInNav: true
navOrder: 4

---
<center><h2 style="margin-bottom:30px">All those useful things you might need as a djembefola</h2></center>

{{#each accessories}}
<article class="design product col-xs-12 col-sm-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/each}}