---

title: Accessories
heading: ACCESSORIES
lead: All things djembe related

layout: products.hbs

showInNav: true
navOrder: 4

---

<p>Pellentesque interdum eget odio eu rutrum. Nunc tempus massa a tellus aliquet sodales. Nunc urna tortor, rhoncus accumsan vestibulum non, feugiat a mauris. In hac habitasse platea dictumst. In sagittis orci nec aliquet tristique.</p>

{{#each accessories}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/each}}