---

title: Contact
heading: CONTACT
lead: Get in touch!

layout: non-products.hbs

showInNav: true
navOrder: 7

---

<div class="row">
  <div class="col-sm-6 col-xs-12">
  <center><h2>Write me a message</h2>
  <p>crispy@thedrumhut.co.uk</p>
  <br>
  <h2>Phone me</h2>
  <p>07955 609 855</p></center>
  </div>
  
  <div class="col-sm-6 col-xs-12">
  <center><h2>Come and visit me</h2>
  <p>Studio G8<br>St Margaret's House<br>151 London Road<br>Edinburgh<br>EH7 6AE</p></center>
  </div>
</div>