---

title: Djembes
heading: DJEMBES
lead:

layout: products.hbs

showInNav: true
navOrder: 2

---

<div class="row">
{{#each djembes}}
{{#if data.featured}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/if}}
{{/each}}
</div>

<h3>Other Djembes</h3>

<div class="row">
{{#each djembes}}
{{#unless data.featured}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/unless}}
{{/each}}
</div>