---

title: Djembes
heading: DJEMBES
lead:

layout: products.hbs

showInNav: true
navOrder: 2

---

<section id="djembes" class=" padding-top-bottom">
<div class="row">
<header class="section-header text-center wow fadeInUp">
            <h2>Premium Djembes</h2>
			<p>Carved by artisan djembe carver Alseny Camara of Conakry, Guinea, these djembes sound as beautiful as they look.<br>You'll find all the information you need on each djembe, including a demonstration video, on each djembe's page.</p>
        </header>
{{#each djembes}}
{{#if data.featured}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">	
	{{> product-link this }}
</article> 
{{/if}}
{{/each}}
</div>
</section>


<section id="otherdjembes" class="gray-bg padding-top-bottom ">
<div class="row">
<header class="section-header text-center wow fadeInUp">
            <h2>Beginner and Intermediate Djembes</h2>
			<p>Found from across the UK and given a new lease of life in my workshop, these djembes are all pre-loved but have been bought back to as-new standard, using the same skill, expertise and care as the premium djembes. This is the perfect place to grab yourself an excellent sounding and looking djembe. You can hear how each djembe sounds in the demonstration video on each page.</p>
        </header>		
{{#each djembes}}
{{#unless data.featured}}
{{#unless data.sold}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/unless}}
{{/unless}}
{{/each}}
</div>
</section>

<section id="archive" class="padding-top-bottom ">
<div class="row">
<header class="section-header text-center wow fadeInUp">
            <h2>The Archive</h2>
			<p>Gone, but not forgotten. These are the djembes that have recently been through The Drum Hut's workshop and out the other side. They now belong to a lucky djembefola out there somewhere, but if you see any features in these djembes that you'd like replicated in your own drum, <a href="./contact.html">get in touch</a> and I'll see what can be done.</p>
        </header>
{{#each djembes}}
{{#if data.sold}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/if}}
{{/each}}
</div>
</section>