---

title: Djembes
heading: DJEMBES
lead:

layout: products.hbs

showInNav: true
navOrder: 2

---

<section id="djembes" class=" padding-top-bottom">
<div class="row">
<header class="section-header text-center wow fadeInUp">
            <h2>Premium Djembes</h2>
        </header>
{{#each djembes}}
{{#if data.featured}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/if}}
{{/each}}
</div>
</section>


<section id="otherdjembes" class="gray-bg padding-top-bottom ">
<div class="row">
<header class="section-header text-center wow fadeInUp">
            <h2>Other Djembes</h2>
        </header>
{{#each djembes}}
{{#unless data.featured}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/unless}}
{{/each}}
</div>
</section>