---

title: Dunun
heading: DUNUN
lead: 

layout: products.hbs

showInNav: true
navOrder: 3

---

<p>There's no such thing as an authentic djembe ensemble that's not backed up by a set of dunun. These bass drums are the heart and soul of all Malinke rhythms, so why not invest in a high quality set of Guinean dunun? These drums come from the same carver as our <a href="./djembes.html">Premium Djembes</a> and are second to none in their quality and artistry.</p>
<section id="dunun" class="padding-top-bottom">
{{#each dunun}}
<article class="design product col-xs-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
	{{> product-link this }}
</article> 
{{/each}}
</section>