---

title: Events
heading: EVENTS
lead: Festivals and events where you'll find me and my djembes.

showInNav: true
navOrder: 6

---

<p>Watch this space for information! I'll be at plenty of next summer's African drumming festivals around the UK. <br><br>You can like my <a href="http://www.facebook.com/TheDrumHut">Facebook Page</a> for regular updates too.</p>