---

title: Events
heading: EVENTS
lead: Festivals and events where you'll find me and my djembes.

showInNav: true
navOrder: 6

---

<p>Pellentesque interdum eget odio eu rutrum. Nunc tempus massa a tellus aliquet sodales. Nunc urna tortor, rhoncus accumsan vestibulum non, feugiat a mauris. In hac habitasse platea dictumst. In sagittis orci nec aliquet tristique.</p>