---

title: Repairs
heading: REPAIRS
lead: Bringing your drums back to life

layout: non-products.hbs 

showInNav: true
navOrder: 5

---

<p>If your skin has popped or you just want a new round of fancy rope put on your djembe, look no further than The Drum Hut. We will repair and refinish your djembe in style!<br><br>Make yourself a quote by following the guide below and if you're not sure exactly what you're after, don't hesitate to <a href="./contact.html">get in touch</a> and  we can talk about the options.</p>

<center><div class="row">
	<div class="col-sm-4 col-xs-12">
	<h2>Goat Skins</h2>
    <h3>£75</h3>	
	</div>
	<div class="col-sm-4 col-xs-12">
	<h2>Calf Skins</h2>
	<h3>£90</h3>
	</div>
	<div class="col-sm-4 col-xs-12">
	<h2>Deer Skins</h2>
	<h3>£100</h3>
	</div>
</div>
<div class="row">
<p><h2>Plus Additional Extras</h2>High Quality Rope: £2.50 x number of crown knots<br>Standard Black Rope: £1.50 x number of crown knots<br>Smooth skin fold-over: £25<br>Skin Twist finish: £10<br>Standard Clean Cut Finish: Free<br>Wood Refinish: £50<br>New Rings: £tba<br>Crack Repair: £15-30 Depending on severity of crack</p>
</div></center>

