/* ------------------------ DRUMHUT ------------------------ */
/*
/*  These styles were added just for Drumhut
/*
/* --------------------------------------------------------- */

.wrapper {
    background: #F2F2F2;
}

/*.hero-image-bg {
    padding: 120px 0;
    background-image: url(../img/Guinea1Full.jpg);
    background-position: 50% 40%;	
}*/

.welcome-section .container {
    position: relative;
    z-index: 20;	
}

.welcome-section  {
    font-size: 50px;
}
.social-links li a:hover::after {
	content:""attr(alt)"";
	display:inline-block;		
	position:absolute;	
	margin-top:50px;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right: auto;
	z-index:-1;
	font-size:1.3em;
	-webkit-transition:.3s;
	transition:.3s;
	
}

.slide-wrapper {
    max-height: 500px;
}

.text-center {
    text-align: center;
}

.small p {
    font-size: 13px;
}

.sold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.buttons-center{
	height: inherit;
}
.buttons-center:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.centered-buttons{
	display: inline-block;
	vertical-align: middle;
}
.flexBox
{
    display:flex;
    flex-wrap:wrap;
}
@media all and ( min-width: 768px ) {
    .flexBox .a { order:1; }
    .flexBox .b { order:3; }
    .flexBox .c { order:2; }
	.flexBox .d { order:4; }
}
.nav-font {
	font-size:1em;
}
}
@media screen only and (max-width: 1000px){
	.nav-font{
		font-size:0.9em;
	}
}


h1.boris {
	font-family: 'BorisBlackBloxx Regular';
}