/* ------------------------ DRUMHUT ------------------------ */
/*
/*  These styles were added just for Drumhut
/*
/* --------------------------------------------------------- */

.wrapper {
    background: #F2F2F2;
}

.hero-image-bg {
    padding: 120px 0;
    background-image: url(../img/djembe1.jpg);
    background-position: 50% 40%;
}

.welcome-section .container {
    position: relative;
    z-index: 20;
}

.welcome-section h1 {
    font-size: 60px;
}

